{% extends "layouts/default.html" %}

{% block content %}


<form method="post" action="{% url django.contrib.auth.views.login %}" class="ui-widget">
    <div class="ui-widget-header">
        Log In
    </div>
    <fieldset class="ui-widget-content">
        {% if form.errors %}
            <p class="ui-state-error">Username or password is incorrect</p>
        {% endif %}
        {% csrf_token %}
        <dl>
            <dt>{{ form.username.label_tag }}</dt>
            <dd>{{ form.username }}</dd>
            <dt>{{ form.password.label_tag }}</dt>
            <dd>{{ form.password }}</dd>
        </dl>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
</form>

{% endblock %}
