<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="/media/default.css" />
        <link rel="stylesheet" href="/media/css/smoothness/jquery-ui-1.8.6.custom.css" />
        <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
        <title>{% block title %}CodeReview{% endblock %}</title>

        <script type="text/javascript">
            function styleButtons() {
                $('input[type=submit], input[type=button], .button').button();
            }
            $(document).ready(function() {
                styleButtons();
            });
            $(document).ajaxComplete(function() {
                styleButtons();
            });
        </script>
    </head>
    <body>
        <div id="container">
            <div class="header">
                <h1><a href="{% url codereview.dashboard.views.index %}">CodeReview</a></title></h1>
                {% if user and user.is_authenticated %}
                    Currently logged in as
                    {{ user }}

                    <a href="{% url django.contrib.auth.views.logout %}">Log Out</a>
                    <form class="searchbar" method="get" action="{% url dashboard.views.search %}">
                        <label>Search</label>
                        <input type="text" name="q" />
                        <input type="submit" value="Go" />
                    </form>
                {% endif %}
            </div>
            <div class="navigation">
                {% block navigation %}
                {% endblock %}
            </div>
            <div class="content">
                </form>
                {% block content %}
                    This space intentionally left blank.
                {% endblock %}
            </div>
        </div>
    </body>
</html>
