{% extends "layouts/default.html" %}
{% load gravatar %}
{% load vcs %}

{% block navigation %}
{% include "browser/navigation.html" %}
{% endblock %}

{% block content %}
<h2>{{ commit.message|oneline }}</h2>

<dl>
    <dt>Committer</dt>
    <dd>
        <img src="{{ commit.author_email|gravatar:32 }}" />
        {{ commit.committer }}
    </dd>
    <dt>Committed</dt>
    <dd>{{ commit.committed_date }}</dd>
    <dt>Author</dt>
    <dd>
        <img src="{{ commit.author_email|gravatar:32 }}" />
        {{ commit.author }}
    </dd>
    <dt>Written</dt>
    <dd>{{ commit.authored_date }}</dd>
    <dt>Message</dt>
    <dd>
        {{ commit.message }}
    </dd>
</dl>

<div class="diff-container">
    <div class="diff-html">
        {% for diff in diffs %}
            {% include "components/diff.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
