<table class="diff">
    <caption>
        {% if diff.a %}{{ diff.a.path }}{% else %}(New File){% endif %}
        {% if diff.a.path != diff.b.path %}
            =>
            {% if diff.b %}{{ diff.b.path }}{% else %}(Deleted){% endif %}
        {% endif %}
    </caption>
    {% for change in diff.changes %}
        {% if change.type == '@' %}
            <tr class="break">
                <td colspan="3">{{ change.text }}</td>
            </tr>
        {% else %}
            <tr class="{% if change.type == '+' %}add{% endif %}{% if change.type == '-' %}del{% endif %}">
                <td class="number">{% if change.type != '+' %}{{ change.line_a }}{% endif %}</td>
                <td class="number">{% if change.type != '-' %}{{ change.line_b }}{% endif %}</td>
                <td class="text">{{ change.text }}</td>
            </tr>

            {# TODO: Load in annotations somehow #}
            {% if change.annotation %}
            <tr class="annotation">
                <td colspan="3">
                    <div class="annotation">
                        <strong>Author @ Date:</strong>
                        <p>Comment</p>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
